<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><i class="fas fa-fire-alt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crew">Crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipment">Equipment</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Personnel Management <i class="fas fa-fire-alt"></i></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- Add Employee  -->
            <div class="card mb-4">
                <div class="card-header">Edit Personnel</div>
                <div class="card-body">

                    <!-- Entry Form -->
                    {{#each Personnel}}
                    <form>
                        <div class="form-group">
                            <label for="employee-name-input">First Name</label>
                            <input class="form-entry" id="first-name-input" value="" type="text" placeholder="{{firstName}}">
                        </div>
                        <div class="form-group">
                            <label for="role-input">Last Name</label>
                            <input class="form-entry" id="last-name-input" value="" type="text" placeholder="{{lastName}}">
                        </div>
                        <div class="form-group">
                            <label for="start-input">Title</label>
                            <input class="form-entry" id="title-input" value="" type="text" placeholder="{{title}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">Address Line 1</label>
                            <input class="form-entry" id="address-line1-input" value="" type="text" placeholder="{{addressLine1}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">Address Line 2</label>
                            <input class="form-entry" id="address-line2-input" value="" type="text" placeholder="{{addressLine2}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">City</label>
                            <input class="form-entry" id="city-input" value="" type="text" placeholder="{{city}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">State</label>
                            <input class="form-entry" id="state-input" value="" type="text" placeholder="{{state}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">Zipcode</label>
                            <input class="form-entry" id="zipcode-input" value="" type="text" placeholder="{{zipcode}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">Home Phone</label>
                            <input class="form-entry" id="home-phone-input" value="" type="text" placeholder="{{homePhone}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">Cell Phone</label>
                            <input class="form-entry" id="cell-phone-input" value="" type="text" placeholder="{{cellPhone}}">
                        </div>
                        <div class="form-group">
                            <label for="rate-input">User Email</label>
                            <input class="form-entry" id="user-email-input" value="" type="text" placeholder="{{userEmail}}">
                        </div>
                        <button class="btn btn-danger ml-2 float-right" id="delete-crew-btn" data-id="{{uid}}">Delete</button>
                        <button class="btn btn-primary float-right" id="edit-crew-btn" data-id="{{uid}}">Submit</button>
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script src="/js/crew.js"></script>
</div>